/* 
    DARK PRIMARY COLOR: #303F9F
    LIGHT PRIMARY COLOR: #C5CAE9
    PRIMARY COLOR: #3F51B5
    TEXT / ICONS: #FFFFFF
    ACCENT COLOR: #03A9F4
    PRIMARY TEXT: #212121
    SECONDARY TEXT: #757575
    DIVIDER COLOR: #BDBDBD
*/

html {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: #3F51B5;
}

.title {
    text-transform: uppercase;
}

/* Degradado Dark Ocean de uigradients.com */

.container {
    background: #373B44;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    /* box-shadow: diferenciaHorizontal, diferenciaVertical, desenfoque, amplitud, color */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    position: relative;
}

.actions {
    position: absolute;
    top: 1em;
    right: 1em;
}

.close {
    width: 40px;
    height: 40px;
    color: #FFF;
    border-radius: 50%;
    background-color: #448AFF;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-weight: 300;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph {
    line-height: 1.8em;
    font-weight: 300;
}

.fa-star, .fa-star-half-alt {
    color: #FFC107;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table td, .table th {
    padding: 1em;
    text-align: left;
}

.table tr:nth-child(even) {
    background-color: #3F51B5;
    color: #FFFFFF;
}

.title-items {
    /* border-bottom-style: solid;
    border-width: 2px;
    border-color: #448AFF; */

    /* Usando Shorthand Properties */
    border-bottom: solid 2px #448AFF;
    /* Fijate que no usamos al final la palabra -style, -width, -color */
    /* El orden de como van los valores puede ser cualquiera */

    padding-bottom: 1em;
    /* Shorthand Properties de Padding */
    /* padding: arriba derecha abajo izquierda; */
    /* padding: arriba/abajo derecha/izquierda */
    /* padding: todos-lados */
}

.position {
    background-color: #448AFF;
    color: #FFFFFF;
    padding: 10px;
    /* Sin Shorthand properties */
    /* border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em; */

    /* Con Shorthand properties */
    border-radius: 4px;
}